.wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    color: #1D1B1C;
}
.menu-list {
    font: 0.9em/14pt Arial;
}
.text-content, .storage-content {
    font: 0.85em/1.7em Arial;
    /*color: #1D1B1C;*/
}
.leading-content {
    font: 0.85em/1.2em Arial;
    /*color: #1D1B1C;*/
}
h2 {
    /*color: #1D1B1C;*/
    font: 1.4em/2.2em Arial;
    margin: 30px auto 30px 0;
}
.leading-content h2 {
    margin-bottom: 25px;
}
h3 {
    /*color: #1D1B1C;*/
    font: 1em/2.2em Arial;
}
/*h4, div.description {*/
    /*color: black;*/
    /*font: 9pt/9pt Arial;*/
/*}*/
a, a:visited {
    color: #1D1B1C;
    text-decoration: none;
}
a:hover {
    color: #1D1B1C;
    text-decoration: none;
}
.storage-type-1 {
    width: auto;
}
.storage-types {
    width: 100%;
}
.main-photo img {
    width: 100%;
}
.photo {
    padding: 35px 5px;
}
.photo img {
    width: 100%;
}
.type-1.other-photos {
    padding-right: 0;
    padding-top: 33px;
}
.type img {
    width: 100%;
}
.type {
    padding-top: 33px;
    padding-right: 15px;
}
.other-types .type {
    padding-bottom: 0;
}
.storage-types .type {
    padding-left: 15px;
    padding-right: 15px;
}
.text-content p:last-child {
    margin-bottom: 0;
}
.storage-text p:last-child {
    margin-bottom: 0;
}
.other-types {
    display: flex;
}
.group-of-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.others-group-of-3 {
    display: flex;
    justify-content: initial;
    align-items: center;
}
@media (min-width: 992px) {
    .other-photos {
        display: block;
    }
    .group-of-2 {
        display: block;
    }
    .other-types {
        flex-direction: row;
    }
    .others-group-of-3 {
        flex-direction: row;
    }
}
@media (max-width: 992px) {
    .wrapper {
        width: auto;
        font-size: 140%;
    }
    .other-photos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .group-of-2 {
        display: flex;
        flex-direction: row;
    }
    .other-types {
        flex-direction: column;
    }
}
@media (max-device-width: 768px) {
    .wrapper {
        font-size: 180%;
    }
    .group-of-2 {
        flex-direction: column;
    }
    .others-group-of-3 {
        flex-direction: column;
    }
    .menu-list {
        display: none;
    }
    .text-content {
        margin-top: 30px;
    }
}
@media (max-device-width: 480px) {
    .wrapper {
        font-size: 220%;
    }
}
@media (max-device-width: 320px) {
    .wrapper {
        font-size: 260%;
    }
}
.people {
    width: 100%;
    padding-left: 165px;
}
.person:first-child {
    padding-top: 5px;
}
.person:last-child {
    padding-bottom: 0;
}
.people h3:first-child {
    margin-top: 0;
    margin-bottom: 0;
}
.person a {
    cursor: pointer;
    padding-left: 25px;
    text-decoration: none;
    color: #1D1B1C;
}
.person h3::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 20px;
    background-image: url("list-item-unhover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -25px;
}
.person a:hover {
    text-decoration: none;
}
.person h3:hover::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("list-item.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -33.75px;
}
/*.person h3:visited::before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*background-image: url("list-item.jpg");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*margin-left: -33.75px;*/
/*}*/
.description {
    display: none;
    padding: 15px 0 15px 40px;
}
.person {
    padding-left: 20px;
    padding-bottom: 8px;
    border-left: 8px solid #0088c7;
}
.description p:last-child {
    margin-bottom: 0;
}
.list-group {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -30px 10px 20px 10px;
    border-top: 10px solid #0088c7;
    position: relative;
}
.menu-list {
    margin-top: 50px;
}
.menu-list li{
    padding-top: 15px;
}
.menu-list a {
    position: relative;
    top: 30%;
}
.list-group li::before {
    content: '';
    display: block;
    background-image: url("menu-features.jpg");
    width: 7px;
    height: 22px;
    margin-top: -31px;
    position: absolute;
    left: 50%;
}
.list-group li:first-child::before {
    position: relative;
    left: 0%;
}
.list-group li:last-child::before {
    position: relative;
    left: 90%;
}
/*.menu-list::before {*/
    /*!*content: url("menu-features.jpg");*!*/
    /*!*margin-top: -22px;*!*/
    /*!*position: relative;*!*/
    /*!*left: 50%;*!*/
    /*content: '';*/
    /*display: block;*/
    /*background-image: url("menu-features.jpg");*/
    /*width: 8px;*/
    /*height: 28px;*/
    /*position: relative;*/
    /*left: 50%;*/
    /*bottom: 11px;*/
/*}*/
.list-group  li:first-child:hover::before {
    content: '';
    display: block;
    background-image: url("menu-item.jpg");
    background-repeat: no-repeat;
    position: relative;
    left: 3%;
    height: 22px;
    width: 25px;
    background-size: contain;
}
.list-group  li:last-child:hover::before {
    content: '';
    display: block;
    background-image: url("menu-item.jpg");
    background-repeat: no-repeat;
    position: relative;
    left: 76%;
    height: 21px;
    width: 25px;
    background-size: contain;
}
/*.list-group::before li:first-child:hover {*/
    /*display: none;*/
/*}*/
